@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f6f6f6;
  --foreground-color: #007bff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/poppins.TTF");
}

@font-face {
  font-family: poppinsBold;
  src: url("./assets/fonts/poppins_bold.TTF");
}

*::-webkit-scrollbar {
  display: none;
}

